.container {
    display: flex;
    justify-content: center;
}

.form {
    position: fixed;
    z-index: 10;
    background-color: #141010;
    height: 70%;
    width: 70%;
    padding: 1% 8%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px #0000001a;
}

.form button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
}


input {
    border: solid 2px #373737;
    border-radius: 5px;
    background-color: transparent;
    height: 30px;
    width: 50%;
    padding: 0 1%;
    color: #fff !important;
    margin-top: 1%;
}

.formConfirm {
    margin-top: 5%;
    border: solid 3px white;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: .3s ease-in-out;

    &:hover {
        background-color: #9f8548;
        border-color: #9f8548;
        color: white;
    }
}

.formReturn {
    background-color: transparent;
    border: solid 3px #373737;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: .3s ease-in-out;

    &:hover {
        background-color: #373737;
    }
}

.typeLabel {
    color: white;
}

.exercisesContainer {
    display: flex;
    overflow-wrap: break-word;
}

.exerciseBlock {
    border-radius: 10px;
    border: solid 2px #9f8548;
    padding: 10%;
    width: 5%;
    color: #9f8548;
    margin-right: 5%;
    cursor: pointer;
    transition: .4s ease-in-out;

    &:hover {
        background-color: white;
        border-color: white;
        color: black;
    }
}

.button {
    display: inline-block;
    padding: 1% 3%;
    margin: 0 0.1em 0.1em 0;
    box-sizing: border-box;
    border: solid 2px #9f8548;
    border-radius: 5px;
    background-color: #9f8548;
    text-decoration: none;
    cursor: pointer;
    margin-right: 1%;
    transition: .3s ease-in-out;
}

.button:hover {
    border-color: white;
    background-color: white;
    color: black;
}

@media all and (max-width:30em) {
    a.button4 {
        display: block;
        margin: 0.2em auto;
    }
}

img {
    width: 150px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.section {
    width: 25%;
    height: 25em;
    border-radius: 15px;
    border: solid 2px #9f8548;
}

a {
    text-decoration: none;
}

.label {
    margin-left: 1%;
    padding: 0px .5%;
    color: white;
}

.green {
    background-color: green;
    border-radius: 5px;
}

.red {
    background-color: red;
    border-radius: 5px;
}

.subHeader {
    background-color: transparent;
    height: 5%;
    padding: 0 3%;
    width: 100%;
}

.addGoal {
    transition: .3s ease-in-out;
    cursor: pointer;
}

.addGoal:hover {
    background-color: #373737;
}

// .goalsContainer {
//     background-color: #373737;
//     height: 5%;
//     padding: 0 3%;
//     width: 65%;
//     left: 22.5%;
//     position: absolute;
// }

.goalLine {
    // background-color: #b1b1b1;
    // height: 3%;
    // position: relative;
    // display: table-row;
    // list-style: none;
    width: 91%;
    padding: 2%;
    border: solid 3px #373737;
    border-radius: 10px;
    color: white;
    margin-bottom: 2%;
    margin-left: 3%;
    position: relative;
}

.layer {
    display: flex;
    margin-bottom: 1%;
}

.closeGoal {
    background-color: transparent;
    border: solid 2px #9f8548;
    color: white;
    position: absolute;
    right: 3%;
    padding: 7px 2%; 
    border-radius: 15px;
    cursor: pointer;
    transition: .3s ease-in-out;
    &:hover {
        background-color: #9f8548;
    }
}

.goalDeadline {
    color: #818181;
}

.goalProgress {
    background-color: #9f8548;
    position: absolute;
    height: 18%;
    width: 25%;
    right: 15%;
    padding: 7px 2%; 
    border-radius: 15px;
}

.goalData {
    position: absolute;
    right: 15%;
    padding: 7px 2%; 
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
}

.dataTxt {
    color: #818181;
    cursor: pointer;
    text-decoration: none;
    transition: .5s ease-in-out;
    &:hover {
        text-decoration: underline;
        color: #9f8548;
    }
}

.subHeadStates {
    display: flex;
    left: 0;
    color: white;
}

.subHeadStates a {
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: flex;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.leftBtns {
    padding: 2% 1%;
}

.subHeadStates a:hover {
    color: #b1b1b1;
}

.stateFocus {
    color: white;
    border-bottom: solid 3px white;
}

.state {
    margin-right: 2%;
}

.btnGoal {
    right: 5%;
    position: absolute;
    border-radius: 5px;
    padding: 1% 2%;
    border-color: #9f8548;
    color: white !important;

    &:hover {
        color: #d0d0d0 !important;
    }
}

.btnGoalTxt {
    background-color: #9f8548;
    white-space: nowrap;
    text-decoration: underline;
}

.notFoundTxt {
    color: white;
    margin-left: 4%;
    margin-top: 5%;
}